<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="zoom/style.css">
    <script src="image.js">
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="jquery-3.6.3.min.js" defer></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <style>
        * {
            box-sizing: border-box;
        }
        
        .main {
            width: 90%;
            height: 95vh;
            border-radius: 20px;
            background-image: url(./../img/img1.jpg);
            background-size: cover;
            box-shadow: 0px 0px 15px white;
        }
        
        .left {
            width: 50%;
            height: 100%;
            float: left;
            position: relative;
            border-right: 2px dashed black;
        }
        
        .right {
            width: 50%;
            height: 100%;
            float: left;
            padding: 20px;
        }
        
        .title {
            text-shadow: 2px 2px 0px rgb(96, 85, 70);
            text-decoration: underline;
        }
        
        .big {
            width: 80%;
            height: 50%;
            position: absolute;
            left: 10%;
            top: 5%;
            border: 3px solid gray;
            border-radius: 10px;
            background-size: contain;
            padding: 5px;
            box-shadow: 14px 14px 33px black;
            overflow: hidden;
        }
        
        .big1 {
            width: 100%;
            height: 100%;
        }
        
        .small {
            width: 25%;
            height: 30%;
            float: left;
            margin-left: 30px;
            margin-top: 70%;
            padding: 5px;
            box-shadow: 0px 0px 17px black;
        }
        
        .small:hover {
            box-shadow: 0px 0px 10px red;
            transition: 0.7s;
        }
        
        .img {
            background-size: cover;
            height: 100%;
            width: 100%;
        }
        
        .hvr-wobble-skew {
            width: 150px;
            height: 40px;
            margin-left: 80px;
            margin-top: 20px;
            border-radius: 15px;
            text-shadow: 1px 1px 0px rgb(96, 85, 70);
            font-weight: 500;
        }
        
        .hvr-wobble-skew {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        }
        
        .hvr-wobble-skew:hover,
        .hvr-wobble-skew:focus,
        .hvr-wobble-skew:active {
            -webkit-animation-name: hvr-wobble-skew;
            animation-name: hvr-wobble-skew;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            transition: 0.7s;
            background-color: rgba(6, 195, 220, 0.164);
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }
        
        @keyframes hvr-wobble-skew {
            16.65% {
                -webkit-transform: skew(-12deg);
                transform: skew(-12deg);
            }
            33.3% {
                -webkit-transform: skew(10deg);
                transform: skew(10deg);
            }
            49.95% {
                -webkit-transform: skew(-6deg);
                transform: skew(-6deg);
            }
            66.6% {
                -webkit-transform: skew(4deg);
                transform: skew(4deg);
            }
            83.25% {
                -webkit-transform: skew(-2deg);
                transform: skew(-2deg);
            }
            100% {
                -webkit-transform: skew(0);
                transform: skew(0);
            }
        }
    </style>

    <script>
        function addInToCart(userId, productId) {
            window.alert("dfsdssdf")
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/cart/add-to-cart/" + userId + "/" + productId, true);
            xhttp.send();
            alert(xhttp.onreadystatechange);
            xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4) {
                    let data = JSON.parse(xhttp.responseText);
                    window.alert(data.message);
                }
            }
        }
    </script>
    <%-include('_externallink.ejs')%>
</head>

<body>

    <%-include('_topbar.ejs')%>

        <div class='container-fluid main' style="margin-top: 100px;">
            <div class='left'>
                <%console.log(product.title)%>
                    <div class='big' id='container'>
                        <img src=" <%=product[0].thumbnail%> " class='img' id='mainImage' />
                    </div>

                    <% let allImages = product[0].imageArray.trim().split(" ");
                var i=0;
                for(let image of allImages){%>
                        <div class="small">
                            <img onClick="changeImage(this)" src="<%=image%>" width="100px" height="100px" class="ml-2 mb-2 img" style="box-shadow: 5px 5px 5px;" />
                        </div>
                        <% if(i==2) break; i++;%>
                            <%}
              %>

            </div>
            <div class='right'>
                <h1 align='center' class='title'>
                    <%=product[0].title%>
                </h1> <br><br>
                <p class=''>
                    <h5> Description: </h5>
                    <br>
                    <%=product[0].description%>
                </p> <br>
                <h3> Price :- $ "
                    <%=product[0].price%>
                        </h 3>
                        <h5> Discounted Percentage: -
                            <%=product[0].discountPercentage%> %
                        </h5> <br>
                        <h5>Stock
                            <%=product[0].stock%>
                        </h5>
                        <h5> Category
                            <%=product[0].category%>
                        </h5>
                        <h5>Brand
                            <%=product[0].brand %>
                        </h5>

                        <%if(currentUser){%>
                            <a onclick="addInToCart('<%=currentUser.id*1+1543%>','<%=product.id*1 + 2567%>')" style="text-decoration: none;">
                                <button style="width:200px;" class="hvr-wobble-skew btn btn-outline-danger">Add To Cart</button>
                            </a>
                            <%}else{%>
                                <a href="/cart/add-to-cart/''/''" style="text-decoration: none;">
                                    <button style=" width:150px; " class="hvr-wobble-skew btn btn-outline-danger">Add To Cart</button>
                                </a>
                                <%}%>

                                    <button class='button hvr-wobble-skew btn btn-outline-danger'> Buy Now </button >
                                    
                                    </div>
            </div>

            <script>
                const container = document.getElementById("container");
                const img = document.querySelector("img");

                container.addEventListener("mousemove", (e) => {
                    const x = e.clientX - e.target.offsetLeft;
                    const y = e.clientY - e.target.offsetTop;

                    console.log(x, y);

                    img.style.transformOrigin = `${x}px ${y}px`;
                    img.style.transform = "scale(2)";
                });

                container.addEventListener("mouseleave", () => {
                    img.style.transformOrigin = "center center";
                    img.style.transform = "scale(1)";
                });

                function changeImage(currentImageObject) {
                    var mainImage = document.getElementById("mainImage");
                    var temp = mainImage.src;
                    mainImage.src = currentImageObject.src;
                    currentImageObject.src = temp;
                }
            </script>





</body>

</html>